



<!-- login.component.html -->
 <!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
      <div *ngIf="error" class="error-message">{{ error }}</div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <div *ngIf="!error">User doesn't exist? <a routerLink="/signup">Sign up</a></div>
  </div>

  -->


  <!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <div class="input-container">
          <img src="username-image.png" alt="Username">
          <input type="text" id="username" name="username" required [(ngModel)]="username">
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <div class="input-container">
          <img src="password-image.png" alt="Password">
          <input type="password" id="password" name="password" required [(ngModel)]="password">
        </div>
      </div>
      <div *ngIf="error" class="error-message">{{ error }}</div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form> -->
    <!-- <div *ngIf="!error">User doesn't exist? <a routerLink="/signup">Sign up</a></div> -->
    <!-- <div class="signup-link">User doesn't exist? <a routerLink="/signup">Sign up</a></div>
  </div>
   -->




<!-- 
   <!DOCTYPE html>
   <html>
   <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  
   </head>
   <body>
   
   <h2>Login Form</h2>
   
   <form action="/action_page.php" method="post">
     <div class="imgcontainer">
       <img src="img_avatar2.png" alt="Avatar" class="avatar">
     </div>
   
     <div class="container">
       <label for="uname"><b>Username</b></label>
       <input type="text" placeholder="Enter Username" name="uname" required>
   
       <label for="psw"><b>Password</b></label>
       <input type="password" placeholder="Enter Password" name="psw" required>
           
       <button type="submit">Login</button>
       <label>
         <input type="checkbox" checked="checked" name="remember"> Remember me
       </label>
     </div>
   
     <div class="container" style="background-color:#f1f1f1">
       <button type="button" class="cancelbtn">Cancel</button>
       <span class="psw">Forgot <a href="#">password?</a></span>
     </div>
   </form>
   
   </body>
   </html>
    -->



    <!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    </head>
    <body>
    
   <form  (ngSubmit)="login()" #loginForm="ngForm" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <img src="assets/img_avatar3.png" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" id="username" name="username" required [(ngModel)]="username" placeholder="Enter Username">
    


        
     <div  class="errormsg" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
      Username is required.
    </div>

    <div  class="errormsg" *ngIf="loginForm.controls['username'].hasError('pattern') && loginForm.controls['username'].touched">
      Username must contain only alphabets.
    </div>

        <label for="psw"><b>Password</b></label>
        <input type="password" id="password" name="password" required [(ngModel)]="password" placeholder="Enter Password">
            


        
     <div class="errormsg" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
      Password is required.
    </div>

    <div *ngIf="loginForm.controls['password'].hasError('pattern') && loginForm.controls['password'].touched">
      Password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, one digit, and one special character.
    </div>
        <div *ngIf="error" class="error-message">{{ error }}</div>
        <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
        <div   class="container centered-text" *ngIf="!error">Don't have an account? <a routerLink="/signup">Sign up</a></div>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" routerLink="/">Cancel</button>
        
      </div>
    </form>
    
    </body>
    </html>
     
 

